
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap');


/* padding-top: 10px ; */
.App {
  width: 100vw;
  height: 100vh;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.titulo {
  width: 100%;
  color: white;
  height: 50px;
  font-family: 'Roboto Condensed', monospace;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}